<a href="https://colab.research.google.com/github/Kim-JHyun/RPA_Web/blob/main/%EC%82%BC%EC%84%B1%EC%A0%84%EC%9E%90%EC%A3%BC%EC%8B%9D.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

url = 'https://finance.naver.com/item/main.nhn?code=005930'

df = pd.DataFrame( )

for page in range(1, 2):
    pg_url = '{url}&page={page}'.format(url=url, page=page)
    df = df.append(pd.read_html(pg_url, header=0, encoding='cp949')[0], ignore_index=True) # encoding='cp949'

df = df.dropna()

df.head()

<ipython-input-17-f51275d6e4f4>:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(pd.read_html(pg_url, header=0, encoding='cp949')[0], ignore_index=True) # encoding='cp949'

,"전일 71,800 71,800","고가 71,70071,700 (상한가 93,30093,300 )","거래량 4,485,526 4,485,526"
0,"시가 71,30071,300","저가 70,90070,900 (하한가 50,300 )","거래대금 319,108 319,108 백만"

In [ ]:
col_list=df.columns.tolist()

In [ ]:
len(col_list)

3

In [ ]:
import re

In [ ]:
str_1=(col_list[0])

In [ ]:
str_1.split()

['전일', '71,800', '71,800']