<a href="https://colab.research.google.com/github/Kim-JHyun/RPA_Web/blob/main/%EC%A7%80%EB%8F%84%EC%8B%9C%EA%B0%81%ED%99%94.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pip install folium

Collecting folium
  Downloading folium-0.14.0-py2.py3-none-any.whl (102 kB)
Requirement already satisfied: jinja2>=2.9 in c:\users\sim-koreatech\anaconda3\envs\text\lib\site-packages (from folium) (2.11.3)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: numpy in c:\users\sim-koreatech\anaconda3\envs\text\lib\site-packages (from folium) (1.21.5)
Collecting branca>=0.6.0
  Downloading branca-0.6.0-py3-none-any.whl (24 kB)
Requirement already satisfied: requests in c:\users\sim-koreatech\anaconda3\envs\text\lib\site-packages (from folium) (2.27.1)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\sim-koreatech\anaconda3\envs\text\lib\site-packages (from jinja2>=2.9->folium) (2.0.1)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\sim-koreatech\anaconda3\envs\text\lib\site-packages (from requests->folium) (2021.10.8)
Requirement already satisfied: idna<4,>=2.5 in c:\users\sim-koreatech\anaconda3\envs\text\lib\site-packages (from requests->folium) (3.3)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\sim-koreatech\anaconda3\envs\text\lib\site-packages (from requests->folium) (2.0.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\sim-koreatech\anaconda3\envs\text\lib\site-packages (from requests->folium) (1.26.9)
Installing collected packages: branca, folium
Successfully installed branca-0.6.0 folium-0.14.0

In [ ]:
import numpy as np
import pandas  as pd

import folium

### 1. 데이터 불러오기

In [ ]:
data = pd.read_excel('bike1.xlsx') # 해당 엑셀 파일 불러오기

In [ ]:
data.head()

,대여소 번호,보관소(대여소)명,자치구,상세주소,위도,경도,설치시기,LCD 거치대수,QR 거치대수,운영방식
0,301,경복궁역 7번출구 앞,종로구,서울특별시 종로구 사직로 지하130 경복궁역 7번출구 앞,37.575794,126.971451,2015-10-07 12:03:46,20.0,NaN,LCD
1,302,경복궁역 4번출구 뒤,종로구,서울특별시 종로구 사직로 지하130 경복궁역 4번출구 뒤,37.575947,126.974060,2015-10-07 12:04:22,NaN,12.0,QR
2,303,광화문역 1번출구 앞,종로구,서울특별시 종로구 세종대로 지하189 세종로공원,37.571770,126.974663,2015-10-07 00:00:00,NaN,8.0,QR
3,305,종로구청 옆,종로구,서울특별시 종로구 세종로 84-1,37.572559,126.978333,2015-01-07 00:00:00,NaN,16.0,QR
4,307,서울역사박물관 앞,종로구,서울특별시 종로구 새문안로 55 서울역사박물관 앞,37.570000,126.971100,2015-10-07 12:09:09,NaN,11.0,QR

In [ ]:
# 파생변수 생성 : 거치대수 = LCD 거치대수 + QR 거치대수
# fill_value=0 옵션은 NaN 값을 0으로 대체

data['거치대수'] = data['LCD 거치대수'].add(data['QR 거치대수'], fill_value=0)

In [ ]:
data.head()

,대여소 번호,보관소(대여소)명,자치구,상세주소,위도,경도,설치시기,LCD 거치대수,QR 거치대수,운영방식,거치대수
0,301,경복궁역 7번출구 앞,종로구,서울특별시 종로구 사직로 지하130 경복궁역 7번출구 앞,37.575794,126.971451,2015-10-07 12:03:46,20.0,NaN,LCD,20.0
1,302,경복궁역 4번출구 뒤,종로구,서울특별시 종로구 사직로 지하130 경복궁역 4번출구 뒤,37.575947,126.974060,2015-10-07 12:04:22,NaN,12.0,QR,12.0
2,303,광화문역 1번출구 앞,종로구,서울특별시 종로구 세종대로 지하189 세종로공원,37.571770,126.974663,2015-10-07 00:00:00,NaN,8.0,QR,8.0
3,305,종로구청 옆,종로구,서울특별시 종로구 세종로 84-1,37.572559,126.978333,2015-01-07 00:00:00,NaN,16.0,QR,16.0
4,307,서울역사박물관 앞,종로구,서울특별시 종로구 새문안로 55 서울역사박물관 앞,37.570000,126.971100,2015-10-07 12:09:09,NaN,11.0,QR,11.0

### 2. 좌표 데이터만 추출

In [ ]:
bike=data[['보관소(대여소)명', '위도', '경도']]
bike.head()

      보관소(대여소)명         위도          경도
0   경복궁역 7번출구 앞  37.575794  126.971451
1   경복궁역 4번출구 뒤  37.575947  126.974060
2   광화문역 1번출구 앞  37.571770  126.974663
3        종로구청 옆  37.572559  126.978333
4     서울역사박물관 앞  37.570000  126.971100

### 3. 서울 지도 만들기

In [ ]:
# 서울 지도 만들기
seoul_map = folium.Map(location=[37.55,126.98], zoom_start=12)

# 지도를 HTML 파일로 저장하기
seoul_map.save('seoul_map.html')

In [ ]:
seoul_map1 = folium.Map(location=[37.55,126.98], tiles='Stamen Terrain',
                        zoom_start=12)

# 지도를 HTML 파일로 저장하기
seoul_map1.save('seoul_map1.html')

In [ ]:
seoul_map2 = folium.Map(location=[37.55,126.98], tiles='Stamen Toner',
                        zoom_start=12)

# 지도를 HTML 파일로 저장하기
seoul_map2.save('seoul_map2.html')

### 4. 따릉이 대여소 Marker 표시

In [ ]:
# 서울 지도 만들기
seoul_map3 = folium.Map(location=[37.55,126.98], zoom_start=12)

# 따릉이 대여소를 Marker 표시
for name, lat, long in zip(bike.index, bike.위도, bike.경도):
    folium.Marker([lat, long], popup=name).add_to(seoul_map1)

# 지도를 HTML 파일로 저장하기
seoul_map1.save('seoul_bike.html')

### 5. 강동구만 표시

In [ ]:
# 강동구만 표시

bike_gd = data[['보관소(대여소)명', '위도', '경도']][data['자치구'] == '강동구']

In [ ]:
bike_gd.head()

                 보관소(대여소)명         위도          경도
2598   광진교 남단 사거리(천호공원 방면)  37.541794  127.124748
2599             해공공원(천호동)  37.545265  127.125938
2600                해공도서관앞  37.543957  127.125488
2601        삼성광나루아파트 버스정류장  37.553329  127.128868
2602            롯데캐슬 115동앞  37.554867  127.142799

In [ ]:
# 서울 지도 만들기
seoul_map2 = folium.Map(location=[37.55,126.98], zoom_start=12)

# 따릉이 대여소를 Marker로 표시
for name, lat, long in zip(bike_gd.index, bike_gd.위도, bike_gd.경도):
    folium.Marker([lat, long], popup=name).add_to(seoul_map2)

# 지도를 HTML 파일로 저장하기
seoul_map2.save('seoul_bike_gd3.html')

In [ ]:
# 강동구 지도 만들기
gangdong_map = folium.Map(location=[37.55,127.15], zoom_start=16)

# 따릉이 대여소를 Marker로 표시
for name, lat, long in zip(bike_gd.index, bike_gd.위도, bike_gd.경도):
    folium.Marker([lat, long], popup=name).add_to(gangdong_map)

# 지도를 HTML 파일로 저장하기
gangdong_map.save('gangdong_bike.html')

### 6. Marker를 원으로 변경하기

In [ ]:
# 강동구 지도 만들기
gangdong_map = folium.Map(location=[37.55,127.15], zoom_start=15)

# 따릉이 대여소를 Marker로 표시
for name, lat, long in zip(bike_gd.index, bike_gd.위도, bike_gd.경도):
    folium.CircleMarker([lat, long],
                        radius=10,         # 원의 반지름
                        color='blue',         # 원의 둘레 색상
                        fill=True,
                        fill_color='green',    # 원을 채우는 색
                        fill_opacity=0.7, # 투명도
                        popup=name
    ).add_to(gangdong_map)

# 지도를 HTML 파일로 저장하기
gangdong_map.save('gangdong_bike1.html')