<a href="https://colab.research.google.com/github/Kim-JHyun/RPA_Web/blob/main/01_1_%EA%B2%B0%EC%B8%A1%EC%B9%98_%EC%B2%98%EB%A6%AC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 결측치 처리

In [ ]:
import seaborn as sns

#### IRIS 데이터

- 붓꽃의 3가지 종(setosa(세토사), versicolor(버시컬러), virginica(버지니카))별로 각각 50개 데이터의 꽃받침, 꽃잎의 길이와 너비를 센티미터 단위로 측정하여 정리한 150개 데이터셋
- sepal length (cm) : 꽃받침 길이
- sepal width (cm) : 꽃받침 너비
- petal length (cm) : 꽃잎 길이
- petal width (cm) : 꽃잎 너비
- species : 종(setosa, versicolor, virginica)

In [ ]:
iris = sns.load_dataset("iris")

In [ ]:
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [ ]:
iris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [ ]:
# .loc는 location 함수롤 특정 조건의 데이터를 추출하기 위해 많이 사용
iris_X = iris.loc[:, :"petal_width"]
iris_X.head()

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [ ]:
# 결측값을 임의로 추가
import random
random.seed(1234)
for col in range(4):
    iris_X.iloc[[random.sample(range(len(iris)), 20)], col] = float('nan')

In [ ]:
iris_X.head()

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           NaN          3.0           NaN          0.2
2           4.7          3.2           1.3          0.2
3           NaN          3.1           1.5          0.2
4           NaN          NaN           1.4          0.2

In [ ]:
iris_X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  130 non-null    float64
 1   sepal_width   130 non-null    float64
 2   petal_length  130 non-null    float64
 3   petal_width   130 non-null    float64
dtypes: float64(4)
memory usage: 4.8 KB

#### 1) 평균으로 대체

In [ ]:
iris_X.mean()

sepal_length    5.902308
sepal_width     3.058462
petal_length    3.857692
petal_width     1.172308
dtype: float64

In [ ]:
from sklearn.impute import SimpleImputer
ir_mean = SimpleImputer(strategy = 'mean')
ir_mean.fit(iris_X)

SimpleImputer()

In [ ]:
iris_mean = ir_mean.transform(iris_X)

In [ ]:
iris_mean[:5, ]

array([[5.1       , 3.5       , 1.4       , 0.2       ],
       [5.90230769, 3.        , 3.85769231, 0.2       ],
       [4.7       , 3.2       , 1.3       , 0.2       ],
       [5.90230769, 3.1       , 1.5       , 0.2       ],
       [5.90230769, 3.05846154, 1.4       , 0.2       ]])

#### 2) 중앙값으로 채우기

In [ ]:
iris_X.median()

sepal_length    5.8
sepal_width     3.0
petal_length    4.4
petal_width     1.3
dtype: float64

In [ ]:
ir_median = SimpleImputer(strategy = 'median')
ir_median.fit(iris_X)

SimpleImputer(strategy='median')

In [ ]:
iris_median = ir_median.transform(iris_X)
iris_median[:5, ]

array([[5.1, 3.5, 1.4, 0.2],
       [5.8, 3. , 4.4, 0.2],
       [4.7, 3.2, 1.3, 0.2],
       [5.8, 3.1, 1.5, 0.2],
       [5.8, 3. , 1.4, 0.2]])

#### 3) 최빈값으로 채우기

In [ ]:
iris_X.mode()
# 최빈값 갯수만큼 출력
# sepal_length의 경우는 최빈값이 2개

   sepal_length  sepal_width  petal_length  petal_width
0           5.7          3.0           1.5          0.2
1           6.3          NaN           NaN          NaN

In [ ]:
ir_mode = SimpleImputer(strategy = 'most_frequent')
iris_mode = ir_mode.fit_transform(iris_X)

In [ ]:
iris_mode[:5, ]

array([[5.1, 3.5, 1.4, 0.2],
       [5.7, 3. , 1.5, 0.2],
       [4.7, 3.2, 1.3, 0.2],
       [5.7, 3.1, 1.5, 0.2],
       [5.7, 3. , 1.4, 0.2]])